body {
  background: url("../images/coffeebg.jpg") no-repeat center center fixed;
}

.center {
  position: fixed;
  left: 50%;
  top: 40%;
  width: 40%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: 'Noto Sans KR', sans-serif;
  color: #efefef;
}

h1 {
  font-size: 8em;
  font-style: italic;
}

h2 {
  font-size: 4em;
}

p {
  font-size: 2em;
}


