* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffff8;
}

.center {
  position: fixed;
  top: 40%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: 'Calligraffitti', cursive;
  color: #1f1f1f;
}

.center h1 {
  font-size: 15em;
  margin-right: 0.2em;
  margin-bottom: -0.1em;
}

nav {
  width: 100%;
  line-height: 5em;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

a {
  display: block;
  text-decoration: none;
  font-family: 'Calligraffitti', cursive;
  font-size: 1.2em;
  color: #2f2f2f;
  padding: 0 0.5em;
}

ul li a {
  font-size: 2em;
}

ul li a:hover{
  font-weight: bold;
}

.social a {
  font-family: 'Assistant', sans-serif;
}
